:root {
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  --white: hsl(0, 0%, 100%);
  /* paragraphs */
  --para-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --gray-100 : hsl(0, 0%, 95%);

  --paragraph-size: 15px;

  --primary-font: "Lexend Deca", Arial, Helvetica, sans-serif;
  --primary-weight: 400;

  --secondary-font: "Big Shoulders", Arial, Helvetica, sans-serif;
  --secondary-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: var(--primary-font);
  color: var(--para-white);
}

.container {
  display: flex;
  overflow: hidden;
  border-radius: 7px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  max-width: 280px;
  min-width: 200px;
  padding: 40px;
}

.card:nth-child(1) {
  background-color: var(--gold-500);
}

.card:nth-child(2) {
  background-color: var(--cyan-800);
}

.card:last-child {
  background-color: var(--green-950);
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__icon {
  width: 48px;
}

.card__title {
  font-family: var(--secondary-font);
  color: var(--gray-100);
  font-weight: var(--secondary-weight);
}

.card__desc {
  font-weight: var(--primary-weight);
  font-size: var(--paragraph-size);
  line-height: 22px;
}

.card__btn {
  align-self: flex-start;
  border: none;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-weight: var(--secondary-weight);
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, border 0.15s;
}

.card:nth-child(1) .card__btn  {
  color: var(--gold-500);
}

.card:nth-child(2) .card__btn  {
  color: var(--cyan-800);
}

.card:last-child .card__btn  {
  color: var(--green-950);
}

.card:nth-child(1) .card__btn:hover,
.card:nth-child(2) .card__btn:hover,
.card:last-child .card__btn:hover {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .card {
    max-width: 760px;
    gap: 2rem;
  }

  .card__info {
    gap: 1rem;
  }
}

@media (max-width: 475px) {
  .container {
    flex-direction: column;
  }

  .card {
    gap: 2rem;
  }

  .card__info {
    gap: 1rem;
  }

  .card__desc {
    font-size: 12px;
  }
}